<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All the Owners</title>
</head>
<body>
    <h1 th:text="'Owners Index Page'">Owners Index Page</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="owner : ${owners}">
            <th th:text="${owner.id}">1</th>
            <th th:text="${owner.firstName}">John</th>
            <th th:text="${owner.lastName}">Smith</th>
        </tr>
        </tbody>
    </table>
    <div><a th:href="@{/}">Back to Home Page</a></div>
</body>
</html>